<footer class="footer">
    <div class="footer-container">
      <div class="footer-brand">
        <h3>Siddhi Thakur</h3>
        <p>Your journey to fitness begins here.</p>
      </div>
  
      <div class="footer-links">
        <h4>Quick Links</h4>
        <div class="quick-links-grid">
          <div class="column">
            <a routerLink="/">Home</a>
            <a routerLink="/services">Courses</a>
            <a routerLink="/our-work">Success Stories</a>
          </div>
          <div class="column">
            <a routerLink="/pricing">Pricing</a>
            <a routerLink="/review">Reviews</a>
            <a routerLink="/vlogs">Vlogs</a>
          </div>
        </div>
      </div>
  
      <div class="footer-contact">
        <h4>Contact Us</h4>
        <p>Email: thakursiddhi556&#64;gmail.com</p>
        <p>Phone: +91 9773230140</p>
        <!-- <p>Location: Navi Mumbai, Maharashtra</p> -->
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© 2025 ssbuilds365.web developers.we build your dream. All rights reserved.</p>
    </div>
  </footer>
  