<section class="pricing-section">
    <h2>Our Pricing</h2>
    <p>Choose the plan that fits your fitness journey.</p>
  
    <div class="pricing-cards">
      <div class="pricing-card">
        <h3>Foam Roller</h3>
        <p class="price">₹1999 /-</p>
        <ul>
          <li><b>- Introduction :</b> What is Foam Roller | Invention | Why to use foam roller | Benefits</li>
          <li>- <b>Concept :</b> What is Myofascial release | What is Myofascia | Types of fascia | fascial trigger point</li>
          <li>- <b>Guide :</b> Types of foam roller | Mechanism | General tips | Safety guidlines</li>
          <li><b>technique :</b> 20+ Myofascial release technique | Position | Muscle involment</li>
        </ul>
        <button (click)="openModal('Basic Plan')">Choose Plan</button>
      </div>
  
      <!-- <div class="pricing-card popular">
        <h3>Standard Plan</h3>
        <p class="price">₹1499 / month</p>
        <ul>
          <li>- Wokout Plan As Per Your Goal</li>
          <li>- Customized Diet-Plan</li>
          <li>- Monthly Check-ins</li>
          <li>- 24/7 Whatsapp-Support📱</li>
          <li><b>Note :"Every diet and workout plan is carefully tailored to your health status and medical conditions to ensure safe, effective, and lasting results."</b></li>
        </ul>
        <button (click)="openModal('Standard Plan')">Choose Plan</button>
      </div> -->

      <div class="pricing-card">
        <h3>Suspension Training</h3>
        <p class="price">₹1999 /-</p>
        <ul>
          <li>- <b>Introduction :</b> Introduction to Suspension Training | Benefits of suspension training | Principles of suspension training</li>
          <li>- <b>Setup :</b> Progression and regression techniques | Anatomy of suspension trainer | Safety measures & Assessments</li>
          <li>- <b>Exercises :</b> Exercises for upper body | Exercises for lower body | Exercises for core</li>
          <li><b>Programming :</b> Prehabilititation exercises | Physical qualities | Program Designing</li>
        </ul>
        <button (click)="openModal('Basic Plan')">Choose Plan</button>
      </div>

      <div class="pricing-card">
        <h3>Resistance Band</h3>
        <p class="price">₹1999 /-</p>
        <ul>
          <li>- <b>Overall Syllabus :</b> Introduction to resistance band | Benefits of resistance band | Types of resistance band | Upper body series | Lower body series | Core series | Rehabilitation process | Common musculoskeletal issues | Corrective exercise | Program designing</li>
    
        </ul>
        <button (click)="openModal('Basic Plan')">Choose Plan</button>
      </div>

      <div class="pricing-card">
        <h3>Kettle-Bell</h3>
        <p class="price">₹2999 /-</p>
        <ul>
          <li>Syllabus</li>
          <li><b>We Are Working On It...</b></li>
          
        </ul>
        <button (click)="openModal('Basic Plan')">Choose Plan</button>
      </div>
      
  
      <div class="pricing-card">
        <h3>Coming Soon Courses</h3>
        <p class="price">₹0 /-</p>
        <ul>
          <li><b>Soon We Will Introduce Our New Course</b></li>
        </ul>
        <button (click)="openModal('Basic Plan')">Choose Plan</button>
      </div>


    </div>

    

    <app-checkout-modal
  *ngIf="isModalOpen()"
  [planName]="selectedPlan()"
  (close)="closeModal()"
></app-checkout-modal>
  </section>
  