.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #111;
    color: white;
    transition: all 0.3s ease;
  
    &.scrolled {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
  
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .nav-links {
      display: flex;
      gap: 1.5rem;
  
      a {
        color: white;
        text-decoration: none;
        font-weight: 500;
  
        &:hover {
          color: red;
        }
      }
    }
  
    .hamburger {
      display: none;
      font-size: 2rem;
      cursor: pointer;
    }
  
    @media (max-width: 768px) {

      .nav-links {
        display: none;
       
      }
  
      .hamburger {
        display: block;
      }
    }
  }
  