.coaches-section {
    text-align: center;
    padding: 40px 20px;
  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 30px;
    }
  
    .coach-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 30px;
    }
  
    .coach-card {
      background-color: #f8f8f8;
      padding: 20px;
      border-radius: 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
      }
  
      img {
        
        height: 240px;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 4, 0.8);
      }
  
      h3 {
        margin: 15px 0 5px;
      }
  
      p {
        font-weight: bold;
        margin: 0;
      }
  
      .social-links {
        margin-top: 10px;
  
        a {
          margin: 0 10px;
          color: #333;
          font-size: 1.2rem;
  
          &:hover {
            color: #e91e63;
          }
        }
      }
    }


  //modal

  .modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
    
  }
  
  // .modal-dialog {
  //   background: #fff;
  //   border-radius: 10px;
  //   padding: 1rem;
  //   width: 90%;
  //   max-width: 500px;
  //   box-shadow: 0 10px 30px rgba(0,0,0,0.9);
  //   background: url('/assets/images/modal.jpg') no-repeat center center/cover;

  // }

  //........modal pop up zoom sart
  @keyframes fadeSlideIn {
    from {
      opacity: 0;
      transform: translateY(50px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  .modal-dialog {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
    background: url('/assets/images/modal.jpg') no-repeat center center/cover;
  
    animation: fadeSlideIn 0.5s ease forwards;
    opacity: 0; // Start invisible before animation kicks in
  }
  

  //.......modal pop up zoom end
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .btn-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
  }

  .center-title {
    flex: 1;
    text-align: center;
    margin: 0;
  }
  
  .modal-body img {
    // width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  }
  