<section class="coaches-section">
  <h2>Academy Founder</h2>
  <div class="coach-list">
    <div class="coach-card" *ngFor="let coach of coaches" (click)="openModal(coach)">
      <img [src]="coach.image" [alt]="coach.name" />
      <h3>{{ coach.name }}</h3>
      <p>{{ coach.role }}</p>

      <!-- ✅ Updated with [innerHTML] to support line break -->
      <small [innerHTML]="coach.specialization"></small><br />
      <small>{{ coach.certification }}</small><br />

      <h3><b>Tap On Image to See Trainer Information</b></h3>
      <div class="social-links">
        <a *ngIf="coach.social.instagram" [href]="coach.social.instagram" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a *ngIf="coach.social.facebook" [href]="coach.social.facebook" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal" [class.show]="selectedCoach" (click)="closeModal()" *ngIf="selectedCoach">
    <div class="modal-dialog" (click)="$event.stopPropagation()">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title center-title">
            {{ selectedCoach?.name }} <hr />
          </h3>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <img
            [src]="selectedCoach?.image"
            [alt]="selectedCoach?.name"
            class="img-fluid mb-3 rounded w-100"
          />
          <p>{{ selectedCoach?.bio }}</p>
          <div class="social-links mt-3">
            <span>Connect:</span>
            <a
              *ngIf="selectedCoach?.social.instagram"
              [href]="selectedCoach?.social.instagram"
              target="_blank"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a
              *ngIf="selectedCoach?.social.facebook"
              [href]="selectedCoach?.social.facebook"
              target="_blank"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
