<section class="services">
    <h2>Our Courses</h2>
    <div class="services-list">
  
      <div class="service-card">
        <img src="/assets/images/foamroller.jpg" alt="Personal Training">
        <h3>Foam Roller</h3>
        <p>Foam Rolling is a self-myofascial release technique that helps to alleviate muscle tightness, improve flexibility, and enhance recovery by applying pressure to specific muscle groups.

</p>
        <button (click)="openModal({
          title: 'Foam Roller',
          image: '/assets/images/foamroller.jpg',
          description: 'Foam Rolling is a self-myofascial release technique that helps to alleviate muscle tightness, improve flexibility, and enhance recovery by applying pressure to specific muscle groups.'
        })">Learn More</button>
      </div>
  
      <div class="service-card">
        <img src="/assets/images/suspension.jpg" alt="Fat Loss">
        <h3>Suspension Training</h3>
        <p>Suspension training is a form of bodyweight exercise that uses adjustable straps, such as TRX, to leverage gravity and bodyweight to perform exercises.</p>
        <button (click)="openModal({
          title: 'Suspension Training',
          image: '/assets/images/suspension.jpg',
          description: 'Suspension training is a form of bodyweight exercise that uses adjustable straps, such as TRX, to leverage gravity and bodyweight to perform exercises.'
        })">Learn More</button>
      </div>

      <div class="service-card">
        <img src="/assets/images/resistance.jpg" alt="Fat Loss">
        <h3>Resistance Band</h3>
        <p>Forget bulky gym machines,resistance bands pack serious power in a compact size. Whether you're aiming to build muscle, burn fat, or just stay flexible, these stretchy superheroes do it all.</p>
        <button (click)="openModal({
          title: 'Resistance Band',
          image: '/assets/images/resistance.jpg',
          description: 'Forget bulky gym machines, resistance bands pack serious power in a compact size. Whether you\'re aiming to build muscle, burn fat, or just stay flexible, these stretchy superheroes do it all.'
        })">Learn More</button>
      </div>

      <div class="service-card">
        <img src="/assets/images/kettlebell.jpg" alt="Fat Loss">
        <h3>Kettle Bell</h3>
        <p>The King of Functional Fitness! the kettlebell is a compact powerhouse designed to torch calories, build explosive strength, and improve balance.</p>
        <button (click)="openModal({
          title: 'Kettle Bell',
          image: '/assets/images/kettlebell.jpg',
          description: 'The King of Functional Fitness! the kettlebell is a compact powerhouse designed to torch calories, build explosive strength, and improve balance.'
        })">Learn More</button>
      </div>

      <div class="service-card">
        <img src="/assets/images/nutrition.jpg" alt="Fat Loss">
        <h3>Nutrition</h3>
        <p>Nutrition is essential because it provides the body with the energy and nutrients it needs to function properly. A balanced diet supports growth, boosts immunity, enhances mental well-being, and reduces the risk of chronic diseases. Good nutrition is the foundation of a healthy lifestyle and overall well-being.</p>
        <button (click)="openModal({
          title: 'Nutrition',
          image: '/assets/images/nutrition.jpg',
          description: 'Nutrition is essential because it provides the body with the energy and nutrients it needs to function properly. A balanced diet supports growth, boosts immunity, enhances mental well-being, and reduces the risk of chronic diseases. Good nutrition is the foundation of a healthy lifestyle and overall well-being.'
        })">Learn More</button>
      </div>

      <div class="service-card">
        <img src="/assets/images/personalTrainer.jpg" alt="Fat Loss">
        <h3>Personal Trainer</h3>
        <p>Personal trainers provide expert guidance, motivation, and support to help individuals achieve their fitness goals. They create customized workout plans, offer nutritional advice, and ensure proper exercise techniques to maximize results and minimize the risk of injury.</p>
        <button (click)="openModal({
          title: 'Personal Trainer',
          image: '/assets/images/personalTrainer.jpg',
          description: 'Personal trainers provide expert guidance, motivation, and support to help individuals achieve their fitness goals. They create customized workout plans, offer nutritional advice, and ensure proper exercise techniques to maximize results and minimize the risk of injury.'
        })">Learn More</button>
      </div>

      <div class="service-card">
        <img src="/assets/images/special.jpg" alt="Fat Loss">
        <h3>Special Population</h3>
        <p>Special population training focuses on individuals with unique needs, such as seniors, pregnant women, or those with chronic conditions. Trainers develop tailored programs that prioritize safety, accessibility, and effectiveness, ensuring all clients can achieve their fitness goals.</p>
        <button (click)="openModal({
          title: 'Special Population',
          image: '/assets/images/special.jpg',
          description: 'Special population training focuses on individuals with unique needs, such as seniors, pregnant women, or those with chronic conditions. Trainers develop tailored programs that prioritize safety, accessibility, and effectiveness, ensuring all clients can achieve their fitness goals.'
        })">Learn More</button>
      </div>
  
      <div class="service-card">
        <img src="/assets/images/comingsoon.jpg" alt="Muscle Gain">
        <h3>Coming Soon..</h3>
        <p>Agility , Cones and Hurdle drills,Medicine ball , Bosu ball , Slam ball , Wall ball , Swiss ball,Aerobic board & Battle rope,Bodyweight exercise,Mobility and Stretching,Power bag & sand bag,Plyometrics,Cardio and Fitness kickboxing,Animal moves. </p>
        <button (click)="openModal({
          title: 'Coming Soon..',
          image: '/assets/images/comingsoon.jpg',
          description: 'Agility , Cones and Hurdle drills,Medicine ball , Bosu ball , Slam ball , Wall ball , Swiss ball,Aerobic board & Battle rope,Bodyweight exercise,Mobility and Stretching,Power bag & sand bag,Plyometrics,Cardio and Fitness kickboxing,Animal moves. '
        })">Learn More</button>
      </div>
  
      <!-- <div class="service-card">
        <img src="/assets/images/nutrition.jpg" alt="Nutrition Planning">
        <h3>Nutrition Planning</h3>
        <p>Customized diet plans from certified nutritionists.</p>
        <button (click)="openModal({
          title: 'Nutrition Planning',
          image: '/assets/images/nutrition.jpg',
          description: 'Get meal plans tailored to your goals, body type, and preferences to fuel your transformation.'
        })">Learn More</button>
      </div> -->

  
    </div>
  </section>
  
  <!-- Modal -->
  <div class="modal" *ngIf="selectedService" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>{{ selectedService.title }}</h2>
      <img [src]="selectedService.image" alt="{{ selectedService.title }}">
      <p>{{ selectedService.description }}</p>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
  